project_rails/.env*
project_rails/.git/*
project_rails/.gitignore
project_rails/.cache
project_rails/.codeclimate.yml
project_rails/.gitlab-ci.yml
project_rails/.hound.yml
project_rails/.travis.yml
project_rails/LICENSE.md
project_rails/README.md
project_rails/log/*
project_rails/node_modules/*
project_rails/public/assets/*
project_rails/storage/*
project_rails/public/packs/*
project_rails/public/packs-test/*
project_rails/tmp/storage/*
project_rails/tmp/cache/*
project_rails/config/master.key
docker-compose.*
.dockerignore
.env